@CHARSET "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

/* Reset CSS */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration: none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding: 0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS */
body{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	/*color: #c5b99c;*/
	color: #fff;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 5em;
}
.section {
	text-align: center;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #fff
}

/* Menu */
#menu li {
	display: inline-block;
	margin: 10px;
	color: #000;
	background: #fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background: #666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display: block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 70;
	background: #333;
	padding: 0;
	margin:0;
	text-align: center;
}

.clickhere {
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;
}

.demoContainer {
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0;
	left: 0;
	/*background: #555;*/
}

.descriptionContainer {
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0;
	right: 0;
	/*background: #999;*/
}

.descriptionTextContainer {
	padding: 18% 10% 5% 0%;
}

.demoVideo {
	position: absolute;
	width: 560px;
	height: 315px;
	margin: auto;
	left: 50%;
	top: 46%;
	transform: translate(-50%, -50%);
}

.title {
	text-align: left;
	text-indent: 10%;
	margin-bottom: 6%;
	font-weight: 100;
	text-shadow: 1px 1px 3px #333333;
}

.technoList {
	text-align: left;
	margin-bottom: 5%;
}

.technoUsed {
	font-weight: bolder;
	font-size: 1.1em;
}

.description {
	text-align: left;
}

.logo {
	position: absolute;
	margin: auto;
	left: 50%;
	top: 42%;
	transform: translate(-50%, -50%)
}